<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
        Contact <span class="name">{{ cp.user.nome }}</span>:
    </md-subheader>

    <md-list>
      <md-item ng-repeat="item in cp.actions">
        <md-button ng-click="cp.submitContact(item)" id="item_{{$index}}">
            <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
            {{item.nome}}
        </md-button>
      </md-item>
    </md-list>

</md-bottom-sheet>
